@font-face {
  font-family: "wisteria";
  src: url('./assets/fonts/Wisteria.ttf') format('ttf'),
        url('./assets/fonts/Wisteria.otf') format('otf'),
        url('./assets/fonts/Wisteria.woff') format('woff');
}

body {
  margin: 0;
  font-family: 'wisteria', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
button{
  color: inherit;
  cursor: pointer;
  border-width: 0;
  background-color: transparent;
}
ul, ol {
  list-style: none;
}
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}
